# MANIFEST.in
# list of non-Python files that should be included with every distribution (pip install)
# no need to list *.py as they will always automatically be included
include README.md LICENSE.txt
include *.txt
include *.md
include data/*.csv
include data/*.log
include data/*.txt
include data/*.htm
include data/*.html
include aima/images/*.jpg
include aima/images/*.svg
include aima/images/IMAGE-CREDITS

